h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-size:2em;
  padding-bottom:0.25em;
  padding-left:0.25em;
}
h2,h3 {
  font-weight: 400;
  font-size:1.5em;
}
h4,h5 {
  font-weight: 400;
  font-size:1.2em;
}

html {
  background-color:rgb(119 ,228,255);
  color: rgb(18,18,18);
  font-family: sans-serif;
  font-weight: 200;
}

body {
  width:320px;
}

ol {
  margin:0;
  padding:0;
  width:300px;
}
li {
  list-style-type:none;
}
li {
  background-color: rgb(238,0,68);
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  margin-bottom:0.5em;
  margin-left:10px;;
  margin-right:10px;;
  padding-top:11px;
  padding-bottom:11px;
  padding-left:11px;

}
li a {
  color:rgb(235,241,241);
  font-size:1.2em;
}
body .example-area, body .source-area {
  display:none;
}
body .clear {
  clear:both;
}
